body {

    background-color: #ECF2FF;
}


hr {

    
    border-style: none;
    border-top-style : dotted;
    border-color: gray;
    height: 0px;
    width: 2%;
    border-width: 5px;

}

h1{
    color: #3E54AC;
}
h2{
    color: #3E54AC;
}
h3{
    color: #3E54AC;
}